/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.NotFoundImg{
	display: flex;
	width: 100%;
	padding-top: 174px;
	justify-content: center;
}

.NotFoundText{
	display: flex;
	width: 100%;
	padding-top: 14px;
	justify-content: center;
	font: 400 18px/16px "Roboto", sans-serif;
}

.JvIcon{
	width: 20px;
	height: auto;
}

.Small_Ok_Mess{
	color:#006600;
	size: 14px;
}

.Small_Error_Mess{
	color:#CC0000;
	size: 14px;
}

.batas{
	border-bottom:#cccccc dotted 1px;
	margin-bottom: 21px;
}

#Dashboard_commonbuttons {  text-align: left;  vertical-align: middle; margin-right:0px; margin-left:1px; }
#Dashboard_commonbuttons div.icon   { margin: 0px 0px 0px 0px; }
#Dashboard_commonbuttons div.icon a { 
	display: block;
	height: 35px; 
	text-decoration : none;
	border: 1px solid rgba(200,200,200,0.5);
	padding: 8px 1px 2px 3px;
	font: 700 12px/14px "Roboto", Helvetica, sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#Dashboard_commonbuttons div.icon a:link    {  background-color: #eaeaea; color : #333;  }
#Dashboard_commonbuttons div.icon a:visited {  background-color: #eaeaea; color : #333;  }
#Dashboard_commonbuttons div.icon a:hover   { 
	background-color: #e1e1e1;  
	border: 1px solid rgba(200,200,200,0.5);
	padding: 8px 1px 2px 3px;
}
#Dashboard_commonbuttons div.icon a:active  {  color : #333; padding: 8px 1px 2px 4px; background-color: #d5d5d5;  }
#Dashboard_commonbuttons div.icon img { margin-bottom: 4px; margin-left: 3px; margin-right: 3px; margin-top: 2px; }
#Dashboard_commonbuttons div.icon span { padding-top: 0px;}

/* -------------
UPLOAD FORM
---------------- */
