

/*
 * modifikasi dari bootsrapt
[dir=ltr] .dropdown-menu.navbar-notifications-menu .dropdown-item{text-transform:none;letter-spacing:normal;font-size:.9375rem;font-weight:400;color:#112b4a}
[dir=ltr] .dropdown-menu.navbar-notifications-menu>.dropdown-item{background:#f7f8f9;border-bottom:1px solid #efefef}
[dir=ltr] .dropdown-menu.navbar-notifications-menu .navbar-notifications-menu__title{letter-spacing:normal;font-weight:600}
[dir=ltr] .dropdown-menu.navbar-notifications-menu .navbar-notifications-menu__content .dropdown-item{white-space:normal}
[dir=ltr] .dropdown-item{display:block;width:100%;padding:.25rem 1.25rem;clear:both;font-weight:400;color:#212529;text-align:inherit;white-space:nowrap;background-color:transparent;border:0}
[dir=ltr] .dropdown-item:focus,[dir=ltr] .dropdown-item:hover{color:#384e68;text-decoration:none;background-color:transparent}
[dir=ltr] .dropdown-item.active,[dir=ltr] .dropdown-item:active{color:#23bb71;text-decoration:none;background-color:transparent}
[dir=ltr] .dropdown-item.disabled,[dir=ltr] .dropdown-item:disabled{color:#6c757d;background-color:transparent}
[dir=ltr] .dropdown-item-text{display:block;padding:.25rem 1.25rem;color:#212529}
 */

/*
[dir=ltr] .dropdown-menu.navbar-notifications-menu .dropdown-item{
text-transform:none;
letter-spacing:normal;
font-size:.9375rem;
font-weight:400;
color:#112b4a}



[dir=ltr] .dropdown-item{
display:block;
width:100%;
padding:.25rem 1.25rem;
clear:both;
font-weight:400;
color:#212529;
text-align:inherit;
white-space:nowrap;
background-color:transparent;
border:0}

*/

/*

.bg-dark{
background-color:#343a40!important
}

a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus,button.bg-dark:hover{
background-color:#1d2124!important
}
*/



/*
=========================================================================================
            page/header.php
-----------------------------------------------------------------------------------------

 */
[dir=ltr] .izin-bg-search {
    background-color:#1a8e56!important
}

/*BARU*/
.izin-nav-m {
    display: block;
    padding:1px 30px;


}

.bg-c-green {
   background:linear-gradient(45deg, #93F9B9, #1D976C)
}



/*
=========================================================================================
            App.css
-----------------------------------------------------------------------------------------

 */


/* HIJAU */
[dir=ltr] .bg-izin{
background-color:#23bb71!important
}

/* 

search navbar #1a8e56
rgb(26, 142, 86)
rgba(26, 142, 86, 1)


background-color:#23bb71!important

e9ecef abu terang banget
a6b0bc abu terang
66768a abu gelap
495057 abu gelap banget
112b4a ungu
48ba16 hijau terang

*/


	
/*
=========================================================================================
            tracking/track_pg.php
-----------------------------------------------------------------------------------------
 */
 /*BARU*/
.custom-file-label:after {
    bottom: 0;
    z-index: 3;
    display: block;
/*    height: 2.15625rem;*/
    height: auto;
    content: "Browse";
    border-left: 1px solid #dbdfe4;
    border-radius: 0 .25rem .25rem 0;

    cursor: pointer;
}






/*
=========================================================================================
            system/sidebar.php
-----------------------------------------------------------------------------------------

 */
[dir=ltr] .sidebar-empty-space {
    height:100px;
}













[dir=ltr] .dropdown-item-sysmn {
left: 29px;
    display:block;
	position: relative;
/*    width:100%;*/
    padding:.25rem 1.25rem;
/*    clear:both;*/
    font-weight:400;
    color:#212529;
/*    text-align:inherit;*/
    white-space:nowrap;
    background-color:transparent;
    border:0;
}


[dir=ltr] .dropdown-item-sysmn:focus,[dir=ltr] .dropdown-item-sysmn:hover {
    color:#384e68;
    text-decoration:none;
    background-color:transparent;
}

[dir=ltr] .dropdown-item-sysmn.active,[dir=ltr] .dropdown-item-sysmn:active {
    color:#23bb71;
    text-decoration:none;
    background-color:transparent;
}
[dir=ltr] .dropdown-item-sysmn.disabled,[dir=ltr] .dropdown-item-sysmn:disabled {
    color:#6c757d;
    background-color:transparent;
}



[dir=ltr] .dropdown-item-sysmn-icon {
	position: fixed;
	height: 28px;
	width: 28px; 
    padding:7px 7px;
    background-color:transparent;
    border:0;
}

[dir=ltr] .dropdown-liner {
/*    display:block; */
/* display: inline-block;*/
/*    clear:both;
	position: relative;
    border:0
    /*background-color:red;*/
/*background: #F87;*/
}




/*--------------------
Another Superfish
------------------- */
/*** ESSENTIAL STYLES ***/




/*
=========================================================================================
            Inner.css
-----------------------------------------------------------------------------------------
 */

.NBOXi {

        font: 400 12px/0px "Roboto", Helvetica, sans-serif;
        border: solid 1px #DADADA;
        background-color: rgba(200,200,200,0.1);
        color: #333333;

		text-shadow: 0 0 1px rgba(0,0,0,0.2);
		outline:none;

		height: 26px;

		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 4px;
		padding-right: 4px;
        margin: 0px 0px 0px 0px;

		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
}

.NBOXi:focus {
        border: solid 1px #23bb71;
        box-shadow: 0px 0px 15px #888888;
}

/*--------

        box-shadow: 10px 2px;

        box-shadow: 10px 10px 8px 10px #888888;


		height: 16px;

		padding-bottom: 2px;

---------- */


.NSEL {

        font: 400 12px/0px "Roboto", Helvetica, sans-serif;
        border: solid 1px #DADADA;
        background-color: rgba(200,200,200,0.1);
        color: #333333;
		text-shadow: 0 0 1px rgba(0,0,0,0.3);
		outline:none;

		height: 26px;


		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 4px;
		padding-right: 4px;
        margin: 0px 0px 0px 0px;

		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
}


/*--------
		height: 26px;
---------- */

.PwdStats{
	margin-bottom:0px;
	font-size:12px;
}

/*--------
	margin-bottom:8px;
---------- */

.PwdStats img{
	width: 12px;
	height: 12px;
}

.PwdStatsMatch{
	margin-top:5px;
	font-size:12px;
}


/* -- BUTTON -------------- */
#commonbuttons {  text-align: left;  vertical-align: middle; margin-right:0px; margin-left:1px; }
#commonbuttons div.icon   { margin: 0px 0px 0px 0px; }
#commonbuttons div.icon a { 
	display: block;
	height: 35px; 
	text-decoration : none;
	border: 1px solid rgba(200,200,200,0.5);
	padding: 8px 1px 2px 3px;
	font: 700 12px/14px "Roboto", Helvetica, sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0,0.3);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

#commonbuttons div.icon a:link    {  background-color: #eaeaea; color : #333;  }
#commonbuttons div.icon a:visited {  background-color: #eaeaea; color : #333;  }
#commonbuttons div.icon a:hover   { 
	background-color: #e1e1e1;  
	border: 1px solid rgba(200,200,200,0.5);
	padding: 8px 1px 2px 3px;
}
#commonbuttons div.icon a:active  {  color : #333; padding: 8px 1px 2px 4px; background-color: #d5d5d5;  }
#commonbuttons div.icon img { margin-bottom: 4px; margin-left: 3px; margin-right: 3px; margin-top: 2px; }
#commonbuttons div.icon span { padding-top: 0px;}


/*
-----------------------------------------------------------------------------------------
            End of Inner.css
=========================================================================================
 */





/*
=========================================================================================
            apps_account.css
-----------------------------------------------------------------------------------------
 */


#Page .BoxAccountForm{
	order: 1;
	width: 100%;
}


/*--------
	width: 550px;
---------- */


/*
-----------------------------------------------------------------------------------------
            End of apps_account.css
=========================================================================================
 */



 /*BARU*/
/*-----------------------------------
	modules/system/page/MyAcc_pg
---------------------------------- */

/*bottom space*/
.wiz_bs-10{
	margin-bottom: 10px;
}

.wiz_bs-25{
	margin-bottom: 25px;
}

.wiz_ls-150{
	margin-left: 150px;
}

.wiz_ls-20{
	margin-left: 20px;
}

/*top space*/
.wiz_ts-10{
	margin-top: 10px;
}
.wiz_ts-20{
	margin-top: 20px;
}

.wiz_ts-25 {
	margin-top: 25px;
}


