@page {
	margin: 0px;
}

#section_2 td {
	vertical-align: top;
	text-align: justify;
	text-justify: inter-word;
}

#section_3 td {
	vertical-align: top;
	text-align: justify;
	text-justify: inter-word;
}

#section_4 td {
	vertical-align: top;
	text-align: justify;
	text-justify: inter-word;
}

.container {
	max-width: 960px;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.border-top-gray {
	border-top-color: #adb5bd;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.lh-condensed {
	line-height: 1.25;
}

.bg_izin {
	padding: 25px;
	opacity: 0.9;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: Arial, Helvetica, sans-serif;
}

.f14 {
	font-size: 14px;
}

.f11 {
	font-size: 11px;
}

.f10 {
	font-size: 10px;
}

.f-theme {
	color: #0dac50;
}

.b-theme {
	color: white;
	background-color: #0dac50;
}

.head-br {
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.bg-gray {
	background-color: rgb(50, 50, 50, 0.1);
}

.f-gray {
	color: gray;
}

.border-btm td {
	border-bottom: 1px solid rgb(100, 100, 100, 0.5);
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.id {
	font-style: normal;
}

.en {
	font-weight: lighter;
	font-style: italic;
	color: #708090;
}

.en-terms {
	font-style: italic;
}

ol.k {
	list-style-type: lower-alpha;
}

ol.c {
	list-style-type: decimal;
}